{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm Email | Kay's World" %}{% endblock %}


{% block content %}

{% if confirmation %}

<div id="confirmEmailAlert" class="alert active">
  <h2>{% trans "Confirm Email" %}</h2>
  <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm <br>
    <a href="mailto:{{ email }}">{{ email }}</a>{% endblocktrans %}</p>

  <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
  {% csrf_token %}
      <button type="submit">{% trans 'Confirm' %}</button>
  </form>
</div>
{% else %}

{% url 'account_email' as email_url %}

<div id="confirmEmailAlert" class="alert active">
  <h2>{% trans "Confirm Email" %}</h2>
  <p>{% blocktrans %}This e-mail confirmation link expired or is invalid.
    Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
</div>
{% endif %}

{% endblock %}
